body {
    background-color: #f8fafc;
    color: #334155;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}


.table-container {
    overflow-x: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
    background-color: #ffffff;
    padding: 1rem;
}

nav {
    background-color: #0c4b33;
    color: #ffffff;
    display: flex;
    padding: 5px 0;
    align-items: center;
    justify-content: space-between;
    border-bottom: 10px solid #44B78B;
}

nav .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #44B78B;
    text-decoration: none;
    transition: color 0.3s;
}

nav .navbar-brand:hover {
    color: #66D0A4;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: #ffffff;
}

thead {
    background-color: #44B78B;
    color: #ffffff;
}

th, td {
    padding: 1rem;
    text-align: center;
    border: 1px solid #e2e8f0;
}

tbody tr:nth-child(odd) {
    background-color: #f9fafb;
}

tbody tr:nth-child(even) {
    background-color: #ffffff;
}

.btn {
    padding: 0.5rem 1rem;
    font-weight: bold;
    background-color: #0c4b33;
    color: white;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
    background-color: #44B78B;
    transform: translateY(-2px);
}

.title_link {
    text-decoration: underline;
    color: #0c4b33;
    transition: color 0.3s;
}

.title_link:hover {
    color: #44B78B;
}

@media (max-width: 576px) {
    table {
        font-size: 0.9rem;
    }

    th, td {
        padding: 0.5rem;
    }
}
