<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    {% load static %}
    <link href="{% static 'shop/styles.css' %}" rel="stylesheet">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
<nav class="text-white shadow-lgc">
    <div class="container mx-auto flex items-center justify-between py-4 px-6">
        <a href="{% url 'shop:index' %}" class="text-2xl font-bold">ITCourseMarket</a>

        <!-- Right side
        <div>
            <a href="/" class="px-4 py-2 hover:text-gray-300">Home</a>
            <a href="#" class="px-4 py-2 hover:text-gray-300">Admin</a>
            <a href="#" class="px-4 py-2 hover:text-gray-300">API</a>
        </div> -->
    </div>
</nav>
<div class="container mx-auto py-8">
    {% block content %}

    {% endblock %}
</div>
</body>
</html>